<div class="forgotPasswordPage">
    <div class="forgotPasswordArea">
        <form (ngSubmit)="handleSubmit()" form="ngForm" novalidate>
            <div class="title">Forgot your password?</div>
            <div class="smallText">Enter your email address below</div>
            <div class="row">
                <div class="rowLeft inputLabel">Email address:</div>
                <div class="rowRight"><input type="text" name="email" required/></div>
            </div>
            <div class="row">
                <button type="button" id="btnForgotPwdCancel" class="companyColor" routerLink="/login">Cancel</button>
                <button type="submit" id="btnForgotPwdSubmit" class="companyBackgroundColor">Continue</button>
            </div>
        </form>
    </div>
</div>